.devotional > li {
    list-style: none;
    text-align: center;
}

.row {
    border-bottom-style: ridge;
}

.verses > li {
    white-space: nowrap;
}

#title {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#brief {
    color: rgb(103, 233, 172); 
    font-size: 30px;   
}